<form method="POST">
	<div>
	    <label for="words">Today's Words</label>
	    <textarea id="words" name="words">{{words}}</textarea>
	    <span id="wordcount">0</span>
	</div>
	<div>
		<button>Submit</button>
	</div>
</form>

<ul>
	{{#each entries}}
		<li><a href='/entries/{{id}}'>{{date}}, ({{count}})</a></li>
	{{/each}}
</ul>